
*.fdb_latexmk
*.fls
*.gz
*.xdv
*.aux
*.log
*.gz
*.out
*.swp
*.synctex(busy)
*.*#
*.toc
MaoNote/makefile
华数杯数学建模竞赛/“华数杯”全国大学生数学建模竞赛历年赛题/第二届/2021年“华数杯”全国大学生数学建模竞赛A题/~$中的相关说明.docx
小队答案/2018A/A1.tex
小队答案/2020A/_minted-main
小队答案/2020A/main.pdf
